# Ollama URL for the backend to connect
# The path '/ollama' will be redirected to the specified backend URL
OLLAMA_BASE_URL='http://localhost:11434'

OPENAI_API_BASE_URL=''
OPENAI_API_KEY=''
AUDIO_STT_ENGINE='mistral'
AUDIO_STT_MODEL='openai/gpt-audio'
AUDIO_STT_MISTRAL_API_KEY=''
AUDIO_STT_MISTRAL_API_BASE_URL='https://api.mistral.ai/v1'
AUDIO_STT_MISTRAL_USE_CHAT_COMPLETIONS='true'

ROUTERAI_API_URL='https://routerai.ru/api/v1'
ROUTERAI_API_KEY=''

REKA_API_KEY=''
REKA_API_URL='https://api.reka.ai/v1'
REKA_ROUTER_MODEL='rekaai/reka-edge'

RAG_OPENAI_API_BASE_URL=''
RAG_OPENAI_API_KEY=''
RAG_EMBEDDING_ENGINE='openai'
RAG_EMBEDDING_MODEL='baai/bge-m3'

# AUTOMATIC1111_BASE_URL="http://localhost:7860"

# For production, you should only need one host as
# fastapi serves the svelte-kit built frontend and backend from the same host and port.
# To test with CORS locally, you can set something like
# CORS_ALLOW_ORIGIN='http://localhost:5173;http://localhost:8080'
CORS_ALLOW_ORIGIN='*'

# For production you should set this to match the proxy configuration (127.0.0.1)
FORWARDED_ALLOW_IPS='*'

# DO NOT TRACK
SCARF_NO_ANALYTICS=true
DO_NOT_TRACK=true
ANONYMIZED_TELEMETRY=false
